# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

**Objectives:**
* Julia
    * scala
        * SQL

Some of the popular languages that Data Scientists use are:
1. java
2. python
3. R

Some of the commonly used libraries used by Data Scientists include:
- pandas 
- NumPy
- TensorFlow

|Data Science Tools|
|------------------|
|RStudio|
|Apache Spark|
|Apache Hadoop|

### Below are a few examples of evaluating arithmetic expressions in Python

In [2]:
pow(2,3)

8

In [3]:
7%2

1

In [4]:
2*6

12

In [5]:
# This a simple arithmetic expression to mutiply then add integers
(3*4)+5

17

In [6]:
# This will convert 200 minutes to hours by diving by 60
200/60

3.3333333333333335

## Author 
Aisha